.maxixe-header {
    background-color: #FAF9F8 !important; /* Change background color to #FAF9F8 */
    color: #000;
}


.custom-navbar {
    background-color: #FFC85F !important;
    border-radius: 20px;
    padding: 10px 20px;
    width: 800px;
    height: 100px;
    margin: 20px auto 0; /* Add margin-top to create space above the navbar */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.logo-container {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.logo {
    width: 100%;
    height: auto;
}

