
.App-header {
  background-color: #FAF9F8; /* Change background color to #FAF9F8 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  background-color: #FAF9F8 !important; /* Set background color to #FAF9F8 */
}

